
.about-image img {
    height: 300px;
    width: 300px;
    border-radius: 50%; 
    margin-top: 30px; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    border: 5px solid #333; 
    transition: transform 0.3s; 
}

.about-image img:hover {
    transform: scale(1.05); 
}

.about-section {
    margin-top: 100px;
    max-width: 800px; 
    height: auto; 
    padding: 20px; 
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 15px 40px rgba(0, 0, 0, 0.1); 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.about-details {
    margin-top: 20px; 
    text-align: center; 
}

.about-title h5 {
    font-size: 1.5rem; 
    font-weight: bold;
    color: #007bff; 
    margin-bottom: 15px; 
    border-bottom: 2px solid #007bff; 
    padding-bottom: 10px; 
}
