/* .home{
    height: 400px;
    color: white;
}

.home-content{
    margin-top: 50px;
    margin-left: 100px;
    padding: 20px;
}

.home-content h2{
    margin-top: 30px;
}

.button-for-action{
    display: flex;
    margin-top: 30px;
    gap: 20px; 
}

.hire-me-button{
    background-color: rgb(247, 181, 58);
    text-align: center;
    width: 120px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: serif;
}

.hire-me-button:hover{
    background-color: rgb(153, 101, 3);
    width: 150px;
    color: black;
    transition-duration: 500ms;
}

.get-resume-button{
    background-color: rgb(185, 249, 55);
    text-align: center;
    width: 120px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: serif;
}

.get-resume-button:hover{
    background-color: rgb(93, 138, 3);
    width: 150px;
    color: black;
    transition-duration: 500ms;
}

.get-resume-button a{
    text-decoration: none;
    color: white;
}

.get-resume-button:hover a{
    text-decoration: none;
    color: black;
} */

.home {
    height: 400px;
    color: white;
    background: linear-gradient(135deg, #66c2a5, #3288bd); /* Gradient background for a fresh look */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px; /* Rounded edges */
    padding: 30px;
}


.home-content {
    margin: 0 auto;
    padding: 20px;
}

.home-content h2 {
    margin-top: 30px;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #fee08b;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle text shadow */
}

.button-for-action {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    margin-top: 40px;
    gap: 20px;
}

.hire-me-button{
    background-color: rgb(247, 181, 58);
    text-align: center;
    width: 120px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: serif;
}
    
.hire-me-button:hover{
    background-color: rgb(153, 101, 3);
    width: 150px;
    color: black;
    transition-duration: 500ms;
}

.get-resume-button{
    background-color: rgb(185, 249, 55);
    text-align: center;
    width: 120px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: serif;
}
    
.get-resume-button:hover{
    background-color: rgb(93, 138, 3);
    width: 150px;
    color: black;
    transition-duration: 500ms;
}

.get-resume-button a{
    text-decoration: none;
    color: white;
}

.get-resume-button:hover a{
    text-decoration: none;
    color: black;    

}
